<h1>Welcome to Library Management</h1>
<p>Dear <%= @user.username %>,</p>
<p>Thank you for Login with Library Management. We're excited to have you!</p>
<a href="/users/show" class="hyper-link">profile page</a>