<%= stylesheet_link_tag 'index' %>
<div class="center">
            <div class="page">
                <h1>Welcome Library</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur purus ut faucibus pulvinar elementum integer enim neque. Semper eget duis at tellus at urna condimentum mattis. Ipsum nunc aliquet bibendum enim. Pellentesque massa placerat duis ultricies lacus. Sagittis id consectetur purus ut faucibus pulvinar elementum. Convallis tellus id interdum velit laoreet id donec ultrices tincidunt. Dignissim convallis aenean et tortor at risus viverra adipiscing. <br>
                Suspendisse in est ante in nibh. Consectetur adipiscing elit ut aliquam purus sit amet luctus. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Eget nulla facilisi etiam dignissim diam quis. Velit euismod in pellentesque massa placerat duis ultricies. Tincidunt ornare massa eget egestas purus viverra accumsan. Purus viverra accumsan in nisl nisi scelerisque. A erat nam at lectus urna. <br> <a href= "books" class= 'btn btn-primary'>More</a>
                
            </div>
        </div>



