<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |book| %>
      <li><%= link_to book.name, book_path(book) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>